@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 .logo h2 {
     font-family:" Hanalei fill", cursive;
 }
 .showcase {
     height: 100vh;
     background: url("./images/IMG_20210506_073003_0.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    
 }
 .showcase .overlay {
    height: 100vh;
    background-color: rgba(0,0, 0,  0.6)
 } 